.container {
  display: grid;
  background-color: bisque;
  border: 2px solid red;
  grid-template-columns: repeat(4, 1fr);
  width: 50%;
  gap: 12px;
  padding: 12px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  font-size: 2rem;
  border: 1px solid blue;
}
.item-reset {
  grid-column: 1 / 3;
}
.item-equal {
  grid-column: 3 / 5;
}
/* .contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.item {
  font-size: 2rem;
  border: 5px solid #00bcd4;
} */

/* grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
grid-template-rows: repeat(3, auto); */
/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
